name: GoLicenses

on:
  workflow_call:

concurrency:
  group: golicenses-${{ github.ref }}
  cancel-in-progress: true

jobs:
  golicenses:
    runs-on: [self-hosted, Linux, X64, validator]
    container:
      image: gcr.io/spectro-images-public/golang:1.23-alpine
    steps:
      - name: checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4

      - name: Set up Go
        uses: actions/setup-go@f111f3307d8850f501ac008e886eec1fd1932a34 # v5
        with:
          cache: false
          go-version-file: go.mod

      - name: install-golicenses
        run: go install github.com/google/go-licenses@latest

      - name: golicense-scan
        run: |
          go-licenses check --ignore github.com/alibabacloud-go/cr-20160607 ./...
